.box-card {
  box-sizing: border-box;
  width: 250px;
  height: 500px;
}
.box-img {
  height: 250px;
  overflow: hidden;
}

.box-img img {
  object-fit: cover;
  aspect-ratio: 1/1;
  height: 250px;
  width: 100%;
  margin-inline: 10px;
  margin-top: 10px;
  transition: all 500ms;
}
.box-img img:hover {
  height: 280px;
  transform: scale(1);
}
.box-details {
  margin-inline: 10px;
}
.box-footer {
  margin-inline: 10px;
  margin-bottom: 10px;
}
